name: 'Run unit tests'
on: # rebuild any PRs and main branch changes
   pull_request:
      branches:
         - main
         - 'releases/*'
   push:
      branches:
         - main
         - 'releases/*'

jobs:
   build: # make sure build/ci works properly
      runs-on: ubuntu-latest
      steps:
         - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
         - name: Run L0 tests.
           run: |
              npm ci
              npm test
